.form {
  width: 80%;
  margin: 3rem auto;
  padding: 2rem;
  background-color: var(--background-two);
  border-radius: 20px;
  box-shadow: var(--main-shadow);
}

.form > h2 {
  text-align: center;
}

.form h3 {
  font-weight: normal;
  margin-bottom: 1rem;
}

.form li {
  display: inline;
}

.form > label {
  display: block;
}

.form textarea {
  display: block;
  padding: 0.25rem;
  font-size: inherit;
}

.form input[type="email"],
.form input[type="text"] {
  margin-top: 0.5rem;
  padding: 0.25rem;
  display: inline-block;
  width: 100%;
}

.form__group label {
  display: inline-block;
  margin-left: 2rem;
  text-align: center;
}

.form__group.radio label {
  margin: 0;
  padding: 1rem;
  margin-left: 15%;
  border-radius: 10px;
}

.form__group.radio label:hover {
  background-color: white;
}

.form__group input {
  display: block;
}

.form__group input[type="checkbox"] {
  display: inline-block;
  margin: 0.5rem;
}

.form__group.radio input[type="radio"]:checked + label {
  background-color: var(--primary-colour);
  color: var(--background-two);
}

.form__group input[type="radio"] {
  display: none;
}

.form textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 16px;
  resize: none;
}

.form > * + * {
  margin-top: 2rem;
}

.form__submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  width: 50%;
  border-radius: 20px;
  font-weight: bold;
}

.form__submit:hover {
  background-color: white;
}
